body {
  margin: 2%;
  font-family: "Gill Sans", "Gill Sans MT" sans-serif;
  font-size: large;
}

#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0%;
}

.li {
  border-style: solid;

  font-size: large;
  background-color: dimgray;
  color: white;

  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-right: 3%;
  padding-left: 3%;

  margin-top: 1%;
  margin-right: 2%;
  margin-left: 0%;
}

.li:hover {
  background-color: black;
}

.active {
  background-color: rgb(103, 173, 91);
  color: white;
}

#title > h1,
#same-page > h1,
#same-page > h2,
#side-bar > h3 {
  color: rgb(103, 173, 91);
}

#side-bar {
  border-style: inset;
  padding: 1%;
  background: rgb(241, 241, 241);
}

#footer {
  text-align: center;
  font-size: small;
}
